name: Train Model Pipeline

on:
  push:
    branches: [ "main", "master" ]

jobs:
  train-model:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Trigger Step Function
        run: |
          echo "Starting MLOps Training Pipeline..."
          aws stepfunctions start-execution \
            --state-machine-arn arn:aws:states:us-east-1:146115342990:stateMachine:MLOpsTrainingPipeline \
            --name "train-run-$(date +%s)" \
            --input '{"source":"github-actions", "commit":"${{ github.sha }}"}'
          echo "Pipeline triggered successfully!"